<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This is social network html5 template available in themeforest......" />
  <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
  <meta name="robots" content="index, follow" />
  <title>Urpixpay</title>

  <!-- Stylesheets
    ================================================= -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/ionicons.min.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link href="css/emoji.css" rel="stylesheet">

  <!--Google Font-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" type="image/png" href="images/fav.png" />
</head>

<body>
  <div class="container">

    <!-- Timeline
      ================================================= -->
    <div class="timeline">
      <div class="timeline-cover">

        <!--Timeline Menu for Large Screens-->
        <div class="timeline-nav-bar hidden-sm hidden-xs">
          <div class="row">
            <div class="col-md-3">
              <div class="profile-info">
                <img src="images/users/user-12.jpg" alt="" class="img-responsive profile-photo" />
                <h3>ALi Haider</h3>
                <p class="text-muted">Creative Director</p>
              </div>
            </div>
            <div class="col-md-9">
              <ul class="list-inline profile-menu">
                <li><a href="timeline.html">Timeline</a></li>
                <li><a href="timeline-about.html" class="active">About</a></li>
                <li><a href="timeline-album.html">Album</a></li>
                <li><a href="timeline-friends.html">Friends</a></li>
              </ul>

            </div>
          </div>
        </div>
        <!--Timeline Menu for Large Screens End-->

        <!--Timeline Menu for Small Screens-->
        <div class="navbar-mobile hidden-lg hidden-md">
          <div class="profile-info">
            <img src="images/users/user-12.jpg" alt="" class="img-responsive profile-photo" />
            <h4>ALi </h4>
            <p class="text-muted">Creative Director</p>
          </div>
          <div class="mobile-menu">
            <ul class="list-inline">
              <li><a href="https://themified.com/friend-finder/timline.html">Timeline</a></li>
              <li><a href="timeline-about.html" class="active">About</a></li>
              <li><a href="timeline-album.html">Album</a></li>
              <li><a href="timeline-friends.html">Friends</a></li>
            </ul>
            <button class="btn-primary">Add Friend</button>
          </div>
        </div>
        <!--Timeline Menu for Small Screens End-->

      </div>
      <div id="page-contents">
        <div class="row">
          <div class="col-md-3">


          </div>
          <div class="col-md-7">

            <!-- Profile Settings
              ================================================= -->
            <div class="edit-profile-container">
              <div class="block-title">
                <h4 class="grey"><i class="icon ion-ios-settings"></i>Post Report</h4>
                <div class="line"></div>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                  deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                <div class="line"></div>
              </div>
              <div class="edit-block">
                <div class="settings-block">
                  <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <div class="switch-description">
                        <div class="mt-8"><strong>Copyrights</strong></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="toggle-switch">
                        <label class="switch">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="line"></div>
                <div class="settings-block">
                  <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <div class="switch-description">
                        <div class="mt-8"><strong>Adult</strong></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="toggle-switch">
                        <label class="switch">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="line"></div>
                <div class="settings-block">
                  <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <div class="switch-description">
                        <div class="mt-8"><strong>Inappropiate</strong></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="toggle-switch">
                        <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="line"></div>
                <div class="settings-block">
                  <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <div class="switch-description">
                        <div class="mt-8"><strong>Promote Terrorism</strong></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="toggle-switch">
                        <label class="switch">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="line"></div>
                <div class="settings-block">
                  <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <div class="switch-description">
                        <div class="mt-8"><strong>Harassement or Bullying</strong></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="toggle-switch">
                        <label class="switch">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="line"></div>
                <div class="settings-block">
                  <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <div class="switch-description">
                        <div class="mt-8"><strong>Child Abuse</strong></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="toggle-switch">
                        <label class="switch">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="line"></div>
                <div class="settings-block">
                  <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <div class="switch-description">
                        <div class="mt-8"><strong>And Other</strong></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="toggle-switch">
                        <label class="switch">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="line"></div>
              </div>
            </div>
            <div class="post-comment mt-3">
              <div class="row">
                <div class="col-md-12">
                  <h5>Your Custom Complaint </h5>
                </div>
                <div class="col-md-12 col-sm-10 col-xs-10">
                  <form class="form-group">
                    <textarea class="form-control" placeholder="write comments" rows="5" colspan="50"></textarea>
                  </form>
                  <!-- <input type="text" class="form-border" placeholder="write your comment"> -->
                </div>
                <div class="col-md-12 col-sm-10 col-xs-10">
                  <button class="btn btn-success">Submit</button>
                  <button class="btn btn-danger">Cancel</button>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- Scripts
    ================================================= -->
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.sticky-kit.min.js"></script>
  <script src="js/jquery.scrollbar.min.js"></script>
  <script src="js/script.js"></script>

</body>

</html>